In [53]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Biologi     47     laki-laki   12C
1         2    Fisika     38     laki-laki   12D
2         3    Fisika     26     laki-laki   12A
3         4   Geologi     93     perempuan   12D
4         5   Ekonomi     43     perempuan   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [18]:
# code here
print(df.loc[:,['nilai','kelas']])

print(df.loc[5:10,['pelajaran','nilai']])

    nilai kelas
0      18   12C
1      69   12B
2      66   12D
3      35   12B
4      35   12C
5      74   12B
6      80   12D
7      35   12B
8      10   12A
9       9   12C
10     57   12B
11     71   12D
12     30   12C
13     41   12C
14     29   12C
15     34   12C
16     21   12C
17     41   12C
18     36   12A
19     74   12B
   pelajaran  nilai
5    Biologi     74
6    Biologi     80
7    Geologi     35
8     Fisika     10
9    Geologi      9
10    Fisika     57

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [33]:
# code here
# bolean series orang yang selamat
Ekonomi = df.pelajaran == "Ekonomi"
Fisika = df.pelajaran == "Fisika"
Kimia = df.pelajaran == "Kimia"
lebih50 = df.nilai > 50
lebih70 = df.nilai > 70
female = df['jenis-kelamin'] == 'perempuan'
kelas12c = df.kelas == "12C"
print(df)
print(df[(Ekonomi) | (Fisika)])
print(df[(Kimia) & (lebih50)])
print(df[(lebih70) & (female) & (kelas12c)])

    siswa_id   pelajaran  nilai jenis-kelamin kelas
0          1     Biologi     18     laki-laki   12C
1          2     Ekonomi     69     perempuan   12B
2          3  Matematika     66     laki-laki   12D
3          4     Biologi     35     laki-laki   12B
4          5     Geologi     35     perempuan   12C
5          6     Biologi     74     laki-laki   12B
6          7     Biologi     80     perempuan   12D
7          8     Geologi     35     perempuan   12B
8          9      Fisika     10     laki-laki   12A
9         10     Geologi      9     perempuan   12C
10        11      Fisika     57     laki-laki   12B
11        12     Ekonomi     71     perempuan   12D
12        13      Fisika     30     perempuan   12C
13        14  Matematika     41     perempuan   12C
14        15       Kimia     29     perempuan   12C
15        16     Biologi     34     perempuan   12C
16        17       Kimia     21     laki-laki   12C
17        18      Fisika     41     perempuan   12C
18        19     Geologi     36     perempuan   12A
19        20       Kimia     74     perempuan   12B
    siswa_id pelajaran  nilai jenis-kelamin kelas
1          2   Ekonomi     69     perempuan   12B
8          9    Fisika     10     laki-laki   12A
10        11    Fisika     57     laki-laki   12B
11        12   Ekonomi     71     perempuan   12D
12        13    Fisika     30     perempuan   12C
17        18    Fisika     41     perempuan   12C
    siswa_id pelajaran  nilai jenis-kelamin kelas
19        20     Kimia     74     perempuan   12B
Empty DataFrame
Columns: [siswa_id, pelajaran, nilai, jenis-kelamin, kelas]
Index: []

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [57]:
# code here
nominalisasi = (df["nilai"] - df["nilai"].min() / df["nilai"].max() - df["nilai"].min())
print(nominalisasi)

0     31.83871
1     22.83871
2     10.83871
3     77.83871
4     27.83871
5     64.83871
6     20.83871
7     42.83871
8     31.83871
9      5.83871
10     7.83871
11    74.83871
12     0.83871
13    54.83871
14     2.83871
15    10.83871
16     7.83871
17    -0.16129
18    51.83871
19    74.83871
Name: nilai, dtype: float64